In [1]:
import pandas as pd
import numpy as np
import os
import re

In [2]:
colnames=['sample_id', 'notes'] 

a = pd.read_csv('saliva_samples/03-HN-002 Saliva Transfers - 19Nov2020.csv', usecols=[1,2], names=colnames)
b = pd.read_csv('saliva_samples/03-HN-002 Saliva Transfers - 20Nov20.csv', names=colnames)
c = pd.read_csv('saliva_samples/03-HN-002 Saliva Transfers - 24Nov2020.csv', usecols=[0,1], names=colnames)
d = pd.read_csv('saliva_samples/03-HN-002 Saliva Transfers - 03DEC2020.csv', usecols=[1,2], names=colnames)
e = pd.read_csv('saliva_samples/03-HN-002 Saliva Transfers - 09Dec2020.csv', usecols=[1,2], names=colnames)

total = pd.concat([a,b,c,d,e])

In [3]:
RBP = ['RBP201112A086',
'RBP201112A087',
'RBP201112A088',
'RBP201112A089',
'RBP201112A112',
'RBP201112A113',
'RBP201112A114',
'RBP201112A115',
'RBP201112A249',
'RBP201112A250'
]


samples = pd.read_pickle('/ghds/groups/labdesk/bshih/c19dash/c19_dashboard/c19_call.pickle')
samples = samples[samples['pos_tube_rack'].str.split(":").str[0].isin(RBP)]
saliva_study = samples[samples['run_sample_id'].str.contains(r'\d{14}') == True].loc[:, ['run_sample_id']].astype('int')
saliva_study = saliva_study.merge(total, left_on='run_sample_id', right_on='sample_id', how='left').drop(columns=['run_sample_id'])
saliva_study

          sample_id            notes
0    55052006560747  cloudy + redish
1    55052006560737            clear
2    55052006560805            clear
3    55052006560763  slightly cloudy
4    55052006560710            clear
..              ...              ...
175  55052006560396  slightly cloudy
176  55052006560440  yellow + cloudy
177  55052006560467            clear
178  55052006560537            clear
179  55052006560516            clear

[180 rows x 2 columns]

In [5]:
# saliva_study.to_csv('saliva_notes.csv', index=False)